*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* border: .5px solid green; */
  font-family: 'Open Sans', sans-serif;
}

/* For Mobile Display */

  /* head section */
  header {
    display: flex;
    flex-direction: column;
    background-color: background: rgb(16,74,80);
    background: linear-gradient( 35deg, rgb(15 183 200 / 86%) 24%, rgb(45 146 157 / 82%) 52%);
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0 1.2vh 0;
  }

  .DMGSLogo {
    width: 65%;
    margin: -4vh 0 0 0;
  }

  h1 {
    visibility: hidden;
  }

  h2 {
    font-size: medium;
    align-items: center;
  }

  h2 > img {
    margin-bottom: -6px;
  }
  /* main section */

  main {
    background-color: #fafaf5;
  }

  h3 {
    text-align: left;
    text-decoration-color: grey;
  }
/* cards styling */
  .cardContainer {
    margin-bottom: 5vh;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;  
    margin: 3vh 1.5vh 0 1.5vh;
    box-shadow: 5px 5px 10px rgb(49, 56, 63);
    border-radius: 10px;
  }

  .cardHeader {
    height: 30%;
    width: 100%;
  }

  .dateAndTime {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -27px;
    padding: 1px;
  }

  
  .listingDetails {
    display: flex;
    align-items: right;
    border: .5px solid grey;
    border-radius: 15px;
    padding: 3px;
    font-size: .75em;
    width: fit-content;
    background-color: #fafaf5ab;
    margin: 2px;
    z-index: 2;
  }
  
  .cardBody {
    background-color: #c7c7c354;
    display: flex;
    flex-direction: column;
  }
  
  .listingImage {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  h4 {
    font-size: 3vh;
  }
  
  .addListingLogo,
  .faqLogo,
  .loginLogo {
    height: 1.5em;
    width: auto;
  }
  
  .arrow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -5px 7px 4px 0;
  }

  .viewListingIcon {
    margin-top: -100%;
    z-index: 2;
    position: static;
    width: 2.5em;
    height: auto;
    background-color: rgb(45 146 157 / 32%);
    border-radius: 90px;
}
  

  .dateIcon {
    z-index: 2;
    margin-right: .7em;
    width: auto;
    height: 1.3em;
  }

  .listingTitle {
    text-align: center;
    font-size: 2.5vh;
    margin-top: 1vh;
  }

  .shortDescription {
    background-color: #1e656d40;
    margin: 1em;
    padding: .5em;
    border-radius: 3px;
    height: 7vh;
  }

  .bottomOfCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 2vh 0;
  }

  .price,
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* FOR tablet DISPLAY */
@media screen and (min-width: 480px) {
/* full screen */
header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  width: 100%;
}

.DMGSLogo {
  margin: -4vh 0 0 0;
  width: 30%;
  margin: 2vh -3vw 1vh -27%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  height: fit-content;
  width: 42%;
}

.shortDescription {
  height: 10vh;
}

.shortDescription > p {
  text-overflow: ellipsis;

}
}

@media screen and (min-width: 800px) {

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  nav {
    width: 80%;
  }

  h2 {
    font-size: x-large;
  }

  .DMGSLogo {
    width: 30%;
    margin: 2vh -3vw 1vh -27%;
  }

  .cardContainer {
    justify-content: center;
  }

  article {
    width: 21%;
  }

}